header {
    margin: 15px;
    background-color: darkmagenta;
    color: goldenrod;
    text-align: center;
    border-radius: 0 30px 0 30px;
    padding: 20px 20px 20px 20px;
    opacity: 0.9;
   
}

main {
    background-color: lightgrey;
    margin: 0 50px 0 50px;
    padding: 1em;
    opacity: 0.9;
}
body {
    background-image: url(record.png);
    background-color: wheat;
    background-repeat: repeat;
    margin: 0;
} 